---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
redirect_from:
  - /wordpress/cv/
---


{% include base_path %}
{% capture written_label %}'None'{% endcapture %}

<u><a style="line-height: 1.5;" href="http://www.stuartgeiger.com/geiger-cv.pdf"><span style="color: #333333;"><span>Also available in PDF format.</span></span></a></u>
<h1 class="western" align="center"><b>R. Stuart Geiger</b></h1>
<p style="line-height: 1.5;" align="center"><span><b>Curriculum Vitae</b> </span></p>
<p style="line-height: 1.5;" align="center"><span>stuart at  stuartgeiger.com | <a href="http://www.stuartgeiger.com/">http://www.stuartgeiger.com</a> | <a href="http://www.twitter.com/staeiou">@staeiou</a> | <a href="http://is.gd/geiger_cites">Google Scholar</a></span></p>

<a name="education"><h2 class="western">Education:</h2></a>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span><b>Ph.D., </b></span><span><b>Information Management & Systems with a designated emphasis in New Media</b></span><span><b>, University of California at Berkeley</b></span>
<ul>
 	<li><strong><span><b>Date:</b></span></strong><span> December 2015</span></li>
  <li><b><span>Doctoral Thesis:</b></span><span> robots.txt: An Ethnographic Investigation of Automated Software Agents in User-Generated Content Platforms</span></li>
 	<li><span><b>Advisor:</b></span><span> Prof. Jenna Burrell</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span><b>M.A., Communication, Culture, and Technology</b>, <b>Georgetown University</b></span>
<ul>
 	<li><strong><span><b>Date:</b></span></strong><span> May 2009</span></li>
 	<li><span><b>Master’s Thesis</b>: Working within Wikipedia: Infrastructures of Knowing and Knowledge Production</li</span>
 	<li><span><b>Advisor: </b>Prof.</span><span> David Ribes</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span><b>B.A., Humanities Honors,</b> <b>University of Texas at Austin</b></span>
<ul>
 	<li><strong><span><b>Date: </b></span></strong><span>May 2007</span></li>
  <li><span><b>Senior Thesis</b>: Democracy in Wikipedia</li></span>
 	<li><span><b>Advisor:</b></span><span> Prof. Elizabeth Keating</span></li>
</ul>
</li>
</ul>
<a name="employment"><h2>Employment</h2></a>
<ul style="line-height: 1.5; margin: 10px 0;">
  <li><span><b>Assistant Professor</b>, UC San Diego, Department of Communication and Halıcıoğlu Data Science Institute (July 2020 to present)</span></li>
  <li><span><b>Staff Ethnographer</b>, UC Berkeley Institute for Data Science (Jan 2016 to June 2020)</span></li>
  <li><span><b>Research Intern</b>, Wikimedia Foundation (May to August 2011)</span></li>
  <li><span><b>Research Associate</b>, Georgetown University, Communication, Culture, and Technology Program (May 2009 to August 2010)</span></li>
</ul>

<a name="publications"><h2 id="peer-reviewed-journal-publications-">Peer-Reviewed Journal Publications:</h2></a>
<ol style="line-height: 1.5; margin: 10px 0;">
<li><strong>Geiger, R.S.,</strong> Varoquaux, N., Mazel-Cabasse, C., and Holdgraf, C. (2018). &quot;The Types, Roles, and Practices of Documentation in Data Analytics Open Source Software Libraries: A Collaborative Ethnography of Documentation Work.&quot;  <em>Computer-Supported Cooperative Work (JCSCW).</em> <a href="https://doi.org/10.1007/s10606-018-9333-1">https://doi.org/10.1007/s10606-018-9333-1</a>  <strong>Best paper award (1st runner-up)</strong></li>
<li><strong>Geiger, R.S</strong>. (2017). &quot;Beyond opening up the black box: Investigating the role of algorithmic systems in Wikipedian organizational culture.&quot; <em>Big Data &amp; Society</em> 4(2).  <a href="http://stuartgeiger.com/algoculture-bds.pdf">http://stuartgeiger.com/algoculture-bds.pdf</a></li>
<li><strong>Geiger, R.S.</strong> (2016). &quot;Bot-based collective blocklists in Twitter: the counterpublic moderation of harassment in a networked public space.&quot; <em>Information, Communication, and Society</em> 19(6). <a href="http://stuartgeiger.com/blockbots-ics.pdf">http://stuartgeiger.com/blockbots-ics.pdf</a></li>
<li><strong>Geiger, R.S.</strong> (2014). &quot;Bots, Bespoke Code, and the Materiality of Software Platforms.&quot; <em>Information, Communication, and Society</em> <a href="http://dx.doi.org/10.1080/1369118X.2013.873069">http://dx.doi.org/10.1080/1369118X.2013.873069</a></li>
<li>Romolini, M., S. Record, R. Garvoille <strong>,</strong> Marusenko, and <strong>R.S. Geiger</strong>. (2013). &quot;The Next Generation of Scientists: Examining the Experiences of Graduate Students in Network-Level Science.&quot;  <em>Ecology and Society 18(3).</em><a href="http://dx.doi.org/10.5751/ES-05606-180342">http://dx.doi.org/10.5751/ES-05606-180342</a></li>
<li>Halfaker, A., <strong>R.S. Geiger</strong> , J. Morgan, and J. Riedl. (2013). &quot;The Rise and Decline of an Open Collaboration System: How Wikipedia&#39;s reaction to sudden popularity is killing it.&quot; <em>American Behavioral Scientist.</em><a href="http://dx.doi.org/10.1177/0002764212469365">http://dx.doi.org/10.1177/0002764212469365</a></li>
<li>Ribes, D., S. Jackson, <strong>R.S. Geiger,</strong> C. Burton, and T. Finholt (2013). &quot;Artifacts that organize: Delegation in the distributed organization.&quot; <em>Information and Organization</em> 23:1–14. <a href="http://dx.doi.org/10.1016/j.infoandorg.2012.08.001">http://dx.doi.org/10.1016/j.infoandorg.2012.08.001</a></li>
<li><strong>Geiger, R.S.</strong> (2009). &quot;Does Habermas Understand the Internet? The Algorithmic Construction of the Blogo/Public Sphere.&quot; <em>Gnovis: A Journal of Communication, Culture, and Technology</em>. 10(1). <a href="http://stuartgeiger.com/papers/gnovis-habermas-blogopublic-sphere.pdf">http://stuartgeiger.com/papers/gnovis-habermas-blogopublic-sphere.pdf</a></li>
</ol>
<h2 id="peer-reviewed-conference-proceedings-">Peer-Reviewed Archived Conference Proceedings:</h2>
<ol style="line-height: 1.5; margin: 10px 0;">
<li><strong>Geiger, R.S.,</strong> K. Yu, Y. Yang, M. Dai, J. Qiu, R. Tang, and J. Huang. (2020). &quot;Garbage In, Garbage Out: Do Machine Learning Application Papers in Social Computing Report Where Human-Labeled Training Data Comes From?&quot; <em>Proceedings of the ACM Conference on Fairness, Accountability, and Transparency</em>(FAT* 2020). <a href-"https://arxiv.org/abs/1912.08320">https://arxiv.org/abs/1912.08320</a></li>
<li><strong>Geiger, R.S.</strong> (2019). &quot;The Rise and Fall of the Note: Changing Paper Lengths in ACM CSCW, 2000-2018.&quot; <em>Proceedings of the ACM on Human-Computer Interaction.</em>(CSCW 2019). <a href="https://doi.org/10.1145/3359324">https://doi.org/10.1145/3359324</a> <a href="https://arxiv.org/abs/1908.10808">https://arxiv.org/abs/1908.10808</a></li>
<li><strong>Geiger, R.S.</strong> and Halfaker, A. (2017). &quot;Operationalizing conflict and cooperation between automated software agents in Wikipedia: A replication and expansion of Even Good Bots Fight.&quot; <em>Proceedings of the ACM on Human-Computer Interaction</em> (Nov 2017 issue, CSCW 2018 Online First). <a href="https://doi.org/10.1145/3134684">https://doi.org/10.1145/3134684</a></li>
<li>Halfaker, A., <strong>Geiger, R.S.</strong> , and Terveen, L. (2014). &quot;Snuggle: Designing for Efﬁcient Socialization and Ideological Critique.&quot; In <em>Proceedings of the 2014 ACM Conference on Human Factors in Computing (CHI 2014).</em><a href="http://stuartgeiger.com/papers/snuggle-chi.pdf">http://stuartgeiger.com/papers/snuggle-chi.pdf</a></li>
<li><strong>Geiger, R.S.</strong> and Halfaker, A. (2013). &quot;When the Levee Breaks: Without Bots, What Happens to Wikipedia&#39;s Quality Control Processes?&quot; In <em>Proceedings of the 9th International Symposium on Wikis and Open Collaboration (WikiSym 2013).</em><a href="http://stuartgeiger.com/wikisym13-cluebot.pdf">http://stuartgeiger.com/wikisym13-cluebot.pdf</a></li>
<li><strong>Geiger, R.S.</strong> and Halfaker, A. (2013). &quot;Using Edit Sessions to Measure Participation in Wikipedia.&quot; In <em>Proceedings of the 2013 ACM Conference on Computer Supported Cooperative Work (CSCW 2013).</em><a href="http://www.stuartgeiger.com/cscw-sessions.pdf">http://www.stuartgeiger.com/cscw-sessions.pdf</a></li>
<li><strong>Geiger, R.S</strong>., A. Halfaker, M. Pinchuk, and S. Walling (2012). &quot;Defense Mechanism or Socialization Tactic? Improving Wikipedia&#39;s Notifications to Rejected Contributors.&quot; In <em>Proceedings of the 2012 International Conference on Weblogs and Social Media (ICWSM 2012).</em><a href="http://www.aaai.org/ocs/index.php/ICWSM/ICWSM12/paper/view/4657">http://www.aaai.org/ocs/index.php/ICWSM/ICWSM12/paper/view/4657</a></li>
<li>Ford, H. and <strong>R.S. Geiger</strong>. (2012). &quot;&#39;Writing up rather than writing down&#39;: Becoming Wikipedia Literate.&quot; In <em>Proceedings of the 8th International Symposium on Wikis and Open Collaboration (WikiSym 2012).</em> New York: ACM Digital Library. <a href="http://www.stuartgeiger.com/becoming-wikipedia-literate.pdf">http://www.stuartgeiger.com/becoming-wikipedia-literate.pdf</a></li>
<li><strong>Geiger, R.S.,</strong> J. Jeong, and E. Manders (2012). &quot;Black-Boxing the User: Internet Protocol over Xylophone Players.&quot; In <em>Proceedings of the 2012 ACM Conference on Human-Computer Interaction (alt.CHI 2012)</em>. New York: ACM Digital Library. <a href="http://dl.acm.org/citation.cfm?id=2212785">http://dl.acm.org/citation.cfm?id=2212785</a></li>
<li><strong>Geiger, R.S.</strong> and H. Ford. (2011) &quot;Participation in Wikipedia&#39;s Deletion Processes.&quot; In <em>Proceedings of the 7th International Symposium on Wikis and Open Collaboration (WikiSym 2011).</em> New York: ACM Digital Library. <a href="http://dx.doi.org/10.1145/2038558.2038593">http://dx.doi.org/10.1145/2038558.2038593</a></li>
<li><strong>Geiger, R.S.</strong> and D. Ribes (2011). &quot;Trace Ethnography: Following Coordination through Documentary Practices.&quot; In <em>Proceedings of the 44th Annual Hawaii International Conference on System Sciences (HICSS).</em><a href="http://dx.doi.org/10.1109/HICSS.2011.455">http://dx.doi.org/10.1109/HICSS.2011.455</a>. <strong>Best paper award nomination</strong></li>
<li><strong>Geiger, R.S.</strong> and D. Ribes (2010). &quot;The Work of Sustaining Order in Wikipedia: The Banning of a Vandal.&quot;  In <em>Proceedings of the 2010 ACM Conference on Computer-Supported Cooperative Work (CSCW 2012)</em>. New York: ACM Digital Library. <a href="http://dx.doi.org/10.1145/1718918.1718941">http://dx.doi.org/10.1145/1718918.1718941</a></li>
<li><strong>Geiger, R.S.</strong> (2009). &quot;The Social Roles of Bots and Assisted Editing Tools.&quot; In <em>Proceedings of the 5th International Symposium on Wikis and Open Collaboration.</em> New York: ACM Digital Library. <a href="http://dx.doi.org/10.1145/1641309.1641351">http://dx.doi.org/10.1145/1641309.1641351</a></li>
</ol>
<h2 id="book-chapters-and-conference-proceedings-non-peer-reviewed-">Book Chapters and Conference Proceedings (non-peer reviewed):</h2>
<ol style="line-height: 1.5; margin: 10px 0;">
<li><strong>Geiger, R.S</strong>. and Lampinen, A. (2014). &quot;Old Against New, or a Coming of Age? Broadcasting in an Era of Electronic Media.&quot; <em>Journal of Broadcasting and Electronic Media</em> 58(3). <a href="http://www.tandfonline.com/doi/full/10.1080/08838151.2014.935855">http://www.tandfonline.com/doi/full/10.1080/08838151.2014.935855</a></li>
<li><strong>Geiger, R.S.</strong> (2011). &quot;The Lives of Bots.&quot; In G. Lovink and N. Tkacz (eds.) In <em>Wikipedia: A Critical Point of View</em>. Amsterdam: Institute of Network Cultures. <a href="http://www.stuartgeiger.com/lives-of-bots-wikipedia-cpov.pdf">http://www.stuartgeiger.com/lives-of-bots-wikipedia-cpov.pdf</a></li>
<li>Matias, N. and <strong>Geiger, R.S.</strong> (2015). &quot;Defining, Designing, and Evaluating Civic Values in Human Computation and Collective Action Systems.&quot; In <em>Proceedings of HCOMP 2014</em>, Citizen-X Workshop. <a href="http://stuartgeiger.com/defining-civic-values-hcomp-matias-geiger.pdf">http://stuartgeiger.com/defining-civic-values-hcomp-matias-geiger.pdf</a></li>
</ol>
<h2 id="reports-working-papers-and-preprints-non-peer-reviewed-">Reports, Working Papers, and Preprints (non-peer reviewed):</h2>
<ol style="line-height: 1.5; margin: 10px 0;">
<li><strong>Geiger, R.S.</strong> , O. DeMasi, A. Culich, A. Zoglauer, D. Das, F. Hoces de la Guardia, K. Ottoboni, M. Fenner, N. Varoquaux, R. Barter, R. Barnes, S. Stoudt, S. Dorton, S. van der Walt. (2019). &quot;Best Practices for Fostering Diversity and Inclusion in Data Science.&quot; <em>BIDS Best Practices in Data Science Series.</em> Berkeley, CA: Berkeley Institute for Data Science. <a href="https://doi.org/10.31235/osf.io/8gsjz">https://doi.org/10.31235/osf.io/8gsjz</a></li>
<li><strong>Geiger, R.S</strong>., D. Sholler, A. Culich, C. Martinez, F. Hoces de la Guardia, F. Lanusse, K. Ottoboni, M. Stuart, M. Vareth, N. Varoquaux, S. Stoudt, and S. van der Walt. (2018). &quot;Challenges of Doing Data-Intensive Research in Teams, Labs, and Groups.&quot; <em>BIDS Best Practices in Data Science Series</em>. Berkeley Institute for Data Science: Berkeley, California. <a href="https://doi.org/10.31235/osf.io/a7b3m">https://doi.org/10.31235/osf.io/a7b3m</a></li>
<li>Sholler, D. Das, F. Hoces de la Guardia, C. Hoffmann, F. Lanusse, N. Varoquaux, R. Garcia, <strong>R.S. Geiger</strong> , S. McDevitt, S. Peterson, S. Stoudt. (2019). &quot;Best Practices for Managing Turnover in Data Science Groups, Teams, and Labs.&quot; <em>BIDS Best Practices in Data Science Series</em>. Berkeley, CA: Berkeley Institute for Data Science. <a href="https://doi.org/10.31235/osf.io/wsxru">https://doi.org/10.31235/osf.io/wsxru</a></li>
<li><strong>Geiger, R.S</strong>., C. Mazel-Cabasse, C. Cullens, L. Noren, B. Fiore-Gartland, D. Das, and H. Brady (2018). &quot;Career Paths and Prospects in Academic Data Science: Report of the Moore-Sloan Data Science Environments Survey.&quot; Report. Berkeley, California: UC-Berkeley Institute for Data Science. <a href="https://doi.org/10.31235/osf.io/xe823">https://doi.org/10.31235/osf.io/xe823</a></li>
<li><strong>Geiger, R.S.</strong> (2017). &quot;Summary Analysis of the 2017 GitHub Open Source Survey.&quot; <em>SocArXiV Preprints.</em> <a href="https://doi.org/10.31235/osf.io/qps53">https://doi.org/10.31235/osf.io/qps53</a></li>
</ol>
<h2 id="open-source-software-and-open-data-projects-">Open-Source Software and Open Data Projects:</h2>
<ol style="line-height: 1.5; margin: 10px 0;">
<li><strong>Geiger, R.S</strong>. (2019). &quot;ArXiV Archive: A tidy and complete archive of metadata for papers on arxiv.org, 1993-2019.&quot; <em>Zenodo</em>. <a href="http://doi.org/10.5281/zenodo.1463242">http://doi.org/10.5281/zenodo.1463242</a></li>
<li><strong>Geiger, R.S.,</strong> Paxton, A., and Haines, R. (2017). &quot;Academicpages.github.io: a ready-to-fork GitHub Pages template for personal academic websites.&quot; <em>GitHub</em>. <a href="https://academicpages.github.io">https://academicpages.github.io</a>.   <strong>Over 3,500 users.</strong></li>
<li><strong>Geiger, R.S.</strong> (2017). &quot;Getorg: a Python library for querying information and analytics about GitHub organizations.&quot; <em>GitHub</em>. <a href="https://github.com/getorg/getorg">https://github.com/getorg/getorg</a></li>
</ol>

<a name="awards"><h2>Honors and Awards</h2></a>
<ul>
<li>Research grant (lead PI): $138,055 from the Sloan Foundation &amp; Ford Foundation for 2018-2020 grant on “The Visible and Invisible Work of Maintaining Open-Source Software” w/ Co-PIs L. Irani &amp; A. Paxton</li>
<li>Best presentation award: Awarded at the 2018 Annual European Conference on Computer-Supported Cooperative Work (ECSCW): Nancy, France, June 7, 2018. For “The Types, Practices, and Roles of Documentation.”</li>
<li>Best paper award (1st runner up): The 2018 David B. Martin Best Paper Award, from the European Society for Socially Embedded Technologies. For “The Types, Practices, and Roles of Documentation,” with N. Varoquaux, C. Cabasse-Mazel, and C. Holdgraf.</li>
</ul>




<h2>Professional Service</h2> 
<a name="memberships"><h3>Memberships in professional associations</h3></a>
<ul>
  <li>Association for Computing Machinery (ACM), 2009-present</li>
<li>Society for the Social Studies of Science (4S), 2009-present</li>
<li>Association of Internet Researchers (AoIR), 2013-present</li>
<li>International Communication Association (ICA), 2014-present</li>
<li>Academic Data Science Alliance (ADSA), 2019-present</li>
</ul>

<a name="service"><h3>Service activities</h3></a>
<ul>
<li>Lead organizer of the Best Practices in Data Science working group at the UC-Berkeley Institute for Data Science (2018-2020)</li>
<li>Co-organizer of workshop and event series on Diversity &amp; Inclusion in Data Science at UC-Berkeley (2018-2020)</li>
<li>Program committee member of the ACM Conference on Collective Intelligence (2019-present)</li>
<li> Co-organizer of the Data Science Studies / Critical Data Studies conference track at the Annual Meeting of the Society for the Social Studies of Science (4S) (2016-2018)</li>
</ul>

<a name="talks"><h2>Talks</h2></a>
  <ul>{% for post in site.talks reversed %}
    {% unless post.talk_type == "Conference proceedings talk" %}
      {% include archive-single-talk-cv.html %}
    {% endunless %}
  {% endfor %}</ul>

<h2>Teaching</h2>
  <ul>{% for post in site.teaching reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
5. Undergraduate Research Apprenticeship Mentor, UC-Berkeley (2018-2020)

<h2 class="western">Research Interests and Skills:</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span><b>Topical:</b> collaboration, socialization, literacy, and governance in distributed, decentralized communities, specifically new/social media platforms and scientific research networks</span></li>
 	<li><span><b>Disciplinary:</b> social informatics, computer-supported cooperative work (CSCW), science and technology studies (STS), data science studies, critical algorithm studies, media and communication studies, organizational sociology, critical human-computer interaction (HCI)</span></li>
 	<li><span><b>Theoretical:</b> socio-technical systems, communities of practice, ethnomethodology, symbolic interactionism, distributed cognition, actor-network theory, phenomenology</span></li>
 	<li><span><b>Methodological:</b></span>
<ul>
 	<li><span>Ethnography, including interviews, focus groups, and participant-observation</span></li>
 	<li><span>Archival analysis, including individual and group-based qualitative coding</span></li>
 	<li><span>Quantitative collection and analysis of log and trace data with Python, SQL, and R</span></li>
 	<li><span>User interface evaluation, including experimental design, A/B testing, and analysis</span></li>
 	<li><span>Inductive, mixed-methodological approaches to answer complex socio-technical questions and problems using all of the above methods, as appropriate and relevant</span></li>
</ul>
</li>
</ul>
