---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
<div data-role="page" id="pageone">
  <div data-role="header">
    <h1>Collapsible Blocks</h1>
  </div>

  <div data-role="main" class="ui-content">
    <div data-role="collapsible">
      <h1>Click me - I'm collapsible!</h1>
      <p>I'm the expanded content.</p>
    </div>
  </div>

  <div data-role="footer">
    <h1>Insert Footer Text Here</h1>
  </div>
</div>

{% include base_path %}
    <div data-role="collapsible">
      <h1>Show map of places I've given talks</h1>
      <iframe height="650" width="850" frameBorder="0" src="https://staeiou.github.io/talk_map/map.html"> </iframe>
    </div>
    
    
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
