---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}
<div class="container">
    <div class="header"><span>Expand</span>
    </div>
    <div class="content">
        <ul>
            <li>This is just some random content.</li>
            <li>This is just some random content.</li>
            <li>This is just some random content.</li>
            <li>This is just some random content.</li>
        </ul>
    </div>
</div>
    
    
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
