<script src="{{ base_path }}/assets/js/main.min.js"></script>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "email": "mailto:stuart@stuartgeiger.com",
      "image": "http://stuartgeiger.com/images/oban3.jpg",
      "jobTitle": "Ethnographer",
      "name": "R. Stuart Geiger",
      "affiliation": "University of California, Berkeley",
      "alumniOf": "University of California, Berkeley",
      "birthPlace": "Nacogdoches County, TX",
      "gender": "male",
      "honorificSuffix": "PhD",
      "nationality": "United States",
      "url": "http://www.stuartgeiger.com",
	    "sameAs" : [
      "http://twitter.com/staeiou",
      "http://github.com/staeiou",
      "https://orcid.org/0000-0001-7215-0532"]
    }
    </script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
